[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
scikit-learn = "==1.0.2"
flask = "*"
gunicorn = "*"
requests = "*"
jupyter = "*"
xgboost = "*"
pandas = "*"
matplotlib = "*"
bentoml = "*"
pydantic = "*"
locust = "*"
pandas-datareader = "*"
seaborn = "*"
optuna = "*"
plotly = "*"

[dev-packages]

[requires]
python_version = "3.10"
